<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<div class="header">
  <h2>GeoQuest - Octane</h2>
  <div class="healthWrapper">
    <div>
    For build notes, see <a href="https://blog.danmonroe.dev/" target="_new">blog.danmonroe.dev</a>
    </div>
    <div>
      <span>
        Player Health {{this.game.player.healthPercentage}}%
      </span>
      <span>
        Ship Health {{#if this.game.player.boardedTransport}}{{this.game.player.boardedTransport.healthPercentage}}%{{/if}}
      </span>
    </div>
  </div>
</div>
<AnimatedContainer class="gameboard">
  <section>
      {{!#power-select
        tagName="div"
        class="pickMap"
        searchEnabled=false
        options=mapOptions
        placeholder="Please select a map"
        selected=selectedMap
        onchange=(action "changeMap")
      as |map|
      }}
        {{!map.name}}
      {{!/power-select}}
    <div class="hexwrapper">
      <div id="scroll-container">
        <div id="large-container">
          {{!#if this.mapService.tilesLoaded}}
            <figure id="konvaContainer"
              {{did-insert (action this.setupGame)}}
              {{will-destroy (action this.teardownGameboardCanvases)}}
            >
            </figure>
          {{!/if}}
        </div>
      </div>
    </div>
  </section>
</AnimatedContainer>

<div class="instructions">
  <b>Instructions:</b> Use keys Q, W, E, A, S, D to move.  Click mouse on target to fire.
</div>
<div class="debugWrapper">
  <div class="row">
    <div class="col label">
      <div>
        Mouse:
      </div>
      <div>
        Player:
      </div>
      <div>
        Ship:
      </div>
      {{#if showCameraDebug}}
        <div>
          Camera:
        </div>
      {{/if}}
    </div>
    <div class="col">
      <div>
        {{this.gameboard.currentHex}}&nbsp;/&nbsp;{{this.gameboard.mouseXY}}
      </div>
      <div>
        {{this.game.gameboard.playerHex}}&nbsp;/&nbsp;{{this.game.gameboard.playerXY}}
      </div>
      <div>
        {{this.game.gameboard.shipHex}}&nbsp;/&nbsp;{{this.game.gameboard.shipXY}}
      </div>
      {{#if showCameraDebug}}
        <div>
          world width:{{this.camera.worldX}} height:{{this.camera.worldY}}
        </div>
        <div>
          hexes: width:{{this.mapService.currentLayout.hexWidth}} height:{{this.mapService.currentLayout.hexHeight}}
        </div>
        <div>
          top left: x:{{this.mapService.topLeftPoint.x}} y:{{this.mapService.topLeftPoint.y}}
        </div>
        <div>
          bottom right: x:{{this.mapService.bottomRightPoint.x}} y:{{this.mapService.bottomRightPoint.y}}
        </div>
      {{/if}}
    </div>
    <div class="col">
      <div>
        <button {{action "toggleGameClock"}}>Game clock running: {{this.game.gameClock.isRunning}}</button>
      </div>
      <div>
        <button {{action "toggleTiles"}}>Show Tiles: {{this.game.showTileGraphics}}</button>
      </div>
      <div>
        <button {{action "toggleHexInfo"}}>Show Hex Info: {{this.game.showTileHexInfo}}</button>
      </div>
      <div>
        <button {{action "toggleDebugLayer"}}>Debug Layer enabled: {{this.game.showDebugLayer}}</button>
      </div>
      <div>
        <button {{action "toggleGameSounds"}}>Sound enabled: {{this.sound.soundEnabled}}</button>
      </div>
      <div>
        <button {{action "toggleMoveQueue"}}>Enable Enemy Patrols: {{this.transport.moveQueueTask.isRunning}}</button>
      </div>
      <div>
        <button {{action "fireCannon"}}>Fire</button>
      </div>
    </div>
    <div class="col">
      <div>
          Path Distance: {{this.gameboard.pathDistanceToMouseHex}}
      </div>
      <div>
        Player Health {{this.game.player.healthPercentage}}%
      </div>
      <div>
        Player Flags {{this.game.playerTravelAbilityFlags}}
      </div>
      <div>
        Ship Health {{#if this.game.player.boardedTransport}}{{this.game.player.boardedTransport.healthPercentage}}%{{/if}}
      </div>
    </div>

  </div>
  <div>
  </div>
</div>