<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<AnimatedContainer class="gameboard">
  <section>
    <div class="hexwrapper">
      {{#if this.mapService.tilesLoaded}}
        <figure id="concreteContainer"
          {{did-insert (action this.setupGame)}}
          {{will-destroy (action this.teardownGameboardCanvases)}}
        >
        </figure>
      {{/if}}

      {{#if this.ships}}
        <Ship @ships={{this.ships}}/>
      {{/if}}
    </div>
  </section>
</AnimatedContainer>
<div class="debugWrapper">
  <div>
    Mouse X:Y{{input value=this.gameboard.mouseXY}}
  </div>
  <div>
    Path Distance: {{this.gameboard.pathDistanceToMouseHex}}
  </div>
  <div>
    Mouse Hex: {{input value=this.gameboard.currentHex}} Mouse Point: {{this.gameboard.mousePoint}}
  </div>
  <div>
    Ship: {{this.playerShipHex.q}} {{this.playerShipHex.r}} {{this.playerShipHex.s}}
  </div>
  <!--<div>-->
    <!--Rect centers: {{!this.gameboard.centerX}} : {{!this.gameboard.centerY}}-->
  <!--</div>-->
  <div>
    <button {{action "toggleTiles"}}>Toggle Tiles</button>
    <button {{action "toggleHexInfo"}}>Toggle Hex Info</button>
    <button {{action "toggleMoveQueue"}}>Move queue running: {{this.transport.moveQueueTask.isRunning}}</button>
  </div>
</div>