<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<AnimatedContainer class="gameboard">
  <section>
      {{!#power-select
        tagName="div"
        class="pickMap"
        searchEnabled=false
        options=mapOptions
        placeholder="Please select a map"
        selected=selectedMap
        onchange=(action "changeMap")
      as |map|
      }}
        {{!map.name}}
      {{!/power-select}}
    <div class="hexwrapper">
      {{#if this.mapService.tilesLoaded}}
        <figure id="concreteContainer"
          {{did-insert (action this.setupGame)}}
          {{will-destroy (action this.teardownGameboardCanvases)}}
        >
        </figure>
      {{/if}}

      {{#if this.players}}
        <Agents @agents={{this.players}}/>
      {{/if}}
      {{#if this.agents}}
        <Agents @agents={{this.agents}}/>
      {{/if}}
    </div>
  </section>
</AnimatedContainer>

<div class="cameraNav">
  <span>Scroll Map:</span>
  <PressAndHoldButton
    @press={{perform this.camera.scrollMap 0 6}}
    @release={{cancel-all this.camera.scrollMap}}>
    North
  </PressAndHoldButton>
  <PressAndHoldButton
    @press={{perform this.camera.scrollMap -6 0}}
    @release={{cancel-all this.camera.scrollMap}}>
    East
  </PressAndHoldButton>
  <PressAndHoldButton
    @press={{perform this.camera.scrollMap 6 0}}
    @release={{cancel-all this.camera.scrollMap}}>
    West
  </PressAndHoldButton>
  <PressAndHoldButton
    @press={{perform this.camera.scrollMap 0 -6 }}
    @release={{cancel-all this.camera.scrollMap}}>
    South
  </PressAndHoldButton>
  <button {{action "doSomething"}}>Do it</button>
</div>

<div class="debugWrapper">
  <div class="row">
    <div class="col label">
      <div>
        Mouse X:Y
      </div>
      <div>
        Mouse Hex:
      </div>
      <div>
        Mouse Point:
      </div>
      <div>
        Camera:
      </div>
    </div>
    <div class="col">
      <div>
        {{this.gameboard.mouseXY}}
      </div>
      <div>
        {{this.gameboard.currentHex}}
      </div>
      <div>
        {{this.gameboard.mousePoint}}
      </div>
      <div>
        X:{{this.camera.x}} Y:{{this.camera.y}}
      </div>
      <div>
        maxX:{{this.camera.maxX}} maxY:{{this.camera.maxY}}
      </div>
      <div>
        viewport width:{{this.camera.viewportWidth}} height:{{this.camera.viewportHeight}}
      </div>
      <div>
        world width:{{this.camera.worldX}} height:{{this.camera.worldY}}
      </div>
      <div>
        max viewport hexes: X:{{this.camera.maxViewportHexesX}} Y:{{this.camera.maxViewportHexesY}}
      </div>
      <div>
        hexes: width:{{this.mapService.currentLayout.hexWidth}} height:{{this.mapService.currentLayout.hexHeight}}
      </div>
      <div>
        top left: x:{{this.mapService.topLeftPoint.x}} y:{{this.mapService.topLeftPoint.y}}
      </div>
      <div>
        bottom right: x:{{this.mapService.bottomRightPoint.x}} y:{{this.mapService.bottomRightPoint.y}}
      </div>
    </div>
    <div class="col">
      <div>
        <button {{action "toggleGameClock"}}>Game clock running: {{this.game.gameClock.isRunning}}</button>
      </div>
      <div>
        <button {{action "toggleTiles"}}>Toggle Tiles</button>
      </div>
      <div>
        <button {{action "toggleHexInfo"}}>Toggle Hex Info</button>
      </div>
      <div>
        <button {{action "toggleMoveQueue"}}>Enable Enemy Patrols: {{this.transport.moveQueueTask.isRunning}}</button>
      </div>
    </div>
    <div class="col">
      <div>
          Path Distance: {{this.gameboard.pathDistanceToMouseHex}}
      </div>
      <div>
        Enemy Distance: {{this.game.enemyToPlayerDistance}}
      </div>
      <div>
        Enemy Status: {{this.game.enemyStatus}}
      </div>
    </div>

  </div>
  <!--<div>-->
    <!--Rect centers: {{!this.gameboard.centerX}} : {{!this.gameboard.centerY}}-->
  <!--</div>-->
  <div>
  </div>
</div>