<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<AnimatedContainer class="gameboard">
  <section>
      {{!#power-select
        tagName="div"
        class="pickMap"
        searchEnabled=false
        options=mapOptions
        placeholder="Please select a map"
        selected=selectedMap
        onchange=(action "changeMap")
      as |map|
      }}
        {{!map.name}}
      {{!/power-select}}
    <div class="hexwrapper">
      {{#if this.mapService.tilesLoaded}}
        <figure id="concreteContainer"
          {{did-insert (action this.setupGame)}}
          {{will-destroy (action this.teardownGameboardCanvases)}}
        >
        </figure>
      {{/if}}

      {{#if this.ships}}
        <Ship @ships={{this.ships}}/>
      {{/if}}
    </div>
  </section>
</AnimatedContainer>
<div class="debugWrapper">
  <div class="row">
    <div class="col label">
      <div>
        Mouse X:Y
      </div>
      <div>
        Mouse Hex:
      </div>
      <div>
        Mouse Point:
      </div>
      <div>
        Path Distance From Ship:
      </div>
    </div>
    <div class="col">
      <div>
        {{input value=this.gameboard.mouseXY}}
      </div>
      <div>
        {{input value=this.gameboard.currentHex}}
      </div>
      <div>
        {{this.gameboard.mousePoint}}
      </div>
      <div>
        {{this.gameboard.pathDistanceToMouseHex}}
      </div>
    </div>
    <div class="col">
      <div>
        <button {{action "toggleTiles"}}>Toggle Tiles</button>
      </div>
      <div>
        <button {{action "toggleHexInfo"}}>Toggle Hex Info</button>
      </div>
      <div>
        <button {{action "toggleMoveQueue"}}>Enable Enemy Patrols: {{this.transport.moveQueueTask.isRunning}}</button>
      </div>
    </div>

  </div>
  <!--<div>-->
    <!--Rect centers: {{!this.gameboard.centerX}} : {{!this.gameboard.centerY}}-->
  <!--</div>-->
  <div>
  </div>
</div>