<!--https://www.redblobgames.com/grids/hexagons/implementation.html-->
<div class="header">
  <h2>GeoQuest - Octane</h2>
  <div>For build notes, see <a href="https://blog.danmonroe.dev/" target="_new">blog.danmonroe.dev</a></div>
</div>
<AnimatedContainer class="gameboard">
  <section>
      {{!#power-select
        tagName="div"
        class="pickMap"
        searchEnabled=false
        options=mapOptions
        placeholder="Please select a map"
        selected=selectedMap
        onchange=(action "changeMap")
      as |map|
      }}
        {{!map.name}}
      {{!/power-select}}
    <div class="hexwrapper">
      <div id="scroll-container">
        <div id="large-container">
          {{#if this.mapService.tilesLoaded}}
            <figure id="konvaContainer"
              {{did-insert (action this.setupGame)}}
              {{will-destroy (action this.teardownGameboardCanvases)}}
            >
            </figure>
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</AnimatedContainer>

<div class="debugWrapper">
  <div class="row">
    <div class="col label">
      <div>
        Mouse X:Y
      </div>
      <div>
        Mouse Hex:
      </div>
      <div>
        Mouse Point:
      </div>
      <div>
        Player Hex:
      </div>
      <div>
        Ship Hex:
      </div>
      <div>
        Camera:
      </div>
    </div>
    <div class="col">
      <div>
        {{this.gameboard.mouseXY}}
      </div>
      <div>
        {{this.gameboard.currentHex}}
      </div>
      <div>
        {{this.gameboard.mousePoint}}
      </div>
      <div>
        {{this.gameboard.playerHex}}
      </div>
      <div>
        {{this.gameboard.shipHex}}
      </div>
      <div>
        world width:{{this.camera.worldX}} height:{{this.camera.worldY}}
      </div>
      <div>
        hexes: width:{{this.mapService.currentLayout.hexWidth}} height:{{this.mapService.currentLayout.hexHeight}}
      </div>
      <div>
        top left: x:{{this.mapService.topLeftPoint.x}} y:{{this.mapService.topLeftPoint.y}}
      </div>
      <div>
        bottom right: x:{{this.mapService.bottomRightPoint.x}} y:{{this.mapService.bottomRightPoint.y}}
      </div>
    </div>
    <div class="col">
      <div>
        <button {{action "toggleGameClock"}}>Game clock running: {{this.game.gameClock.isRunning}}</button>
      </div>
      <div>
        <button {{action "toggleTiles"}}>Toggle Tiles</button>
      </div>
      <div>
        <button {{action "toggleHexInfo"}}>Toggle Hex Info</button>
      </div>
      <div>
        <button {{action "toggleDebugLayer"}}>Toggle Debug Layer</button>
      </div>
      <div>
        <button {{action "toggleMoveQueue"}}>Enable Enemy Patrols: {{this.transport.moveQueueTask.isRunning}}</button>
      </div>
      <div>
        <button {{action "fireCannon"}}>Fire</button>
      </div>
    </div>
    <div class="col">
      <div>
          Path Distance: {{this.gameboard.pathDistanceToMouseHex}}
      </div>
      <div>
        Enemy Distance: {{this.game.enemyToPlayerDistance}} ({{this.game.enemyStatus}})
      </div>
      <div>
        Enemy Hex: {{this.gameboard.enemyHex}}
      </div>
    </div>

  </div>
  <div>
  </div>
</div>