<div class="configDialog">
  <h2 class="title title-text">Settings</h2>
  <div class="btn close-btn-x" {{action @close true}}>X</div>
  <div class="body">
      <div>
        <button {{action "toggleGameClock"}}>Game clock running: {{this.game.gameClock.isRunning}}</button>
      </div>
      <div>
        <button {{action "toggleTiles"}}>Show Tiles: {{this.game.showTileGraphics}}</button>
      </div>
      <div>
        <button {{action "toggleFieldOfViewLayer"}}>Show FOV Info: {{this.game.showTileHexInfo}}</button>
      </div>
      <div>
        <button {{action "togglePathFindingDebug"}}>Path Finding Debug [ V ]: {{this.game.pathFindingDebug}}</button>
      </div>
      <div>
        <button {{action "toggleDebugLayer"}}>Debug Layer enabled [ B ]: {{this.game.showDebugLayer}}</button>
      </div>
      <div>
        <button {{action "toggleGameSounds"}}>Sound enabled: {{this.sound.soundEnabled}}</button>
      </div>
      <div>
        <button {{action "toggleMoveQueue"}}>Enable Enemy Patrols: {{this.transport.moveQueueTask.isRunning}}</button>
      </div>
  </div>
  <div class="footer">
    <button class="btn styled btn-primary" type="button" {{action @close true}}>Close</button>
  </div>
</div>

